body{
    background: url(/img/fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    display: grid;
    
}
.img-logo-pokemon {
    display: block;
    width: 500px;
    margin:  0 auto;
    margin-top: -30px;
}

.card {
    display: block;
    margin:  0 auto;
    margin-top: -180px;
    width: 800px;
    height: 350px;
    text-align: center;
    padding: 20px 0;
    background: #3982bdaf;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(158, 240, 7, 0.705);
}

.img-poke-api {
    display: block;
    margin: auto;
    top: -20px;
    position: relative;
    width: 150px;
    z-index: 1;

}
.img-poke-bola{

    position: relative;
    display: block;
    margin: auto;
    top: -35px;
    left: auto;
    right: 375px;
    width: 35px;
    
}
.img-poke-bola2{

    position: relative;
    display: block;
    margin: auto;
    top: 275px;
    left: auto;
    right: 375px;
    width: 35px;
}
.img-poke-bola3{

    position: relative;
    display: block;
    margin: auto;
    top: -105px;
    left: 375px;
    right: auto;
    width: 35px;
}
.img-poke-bola4{

    position: relative;
    display: block;
    margin: auto;
    top: 205px;
    left: 375px;
    right:auto;
    width: 35px;
}

.card-title-buscador{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 900;
color: antiquewhite;
display: block;
position: relative;
margin: 0 auto;
top: 20px;
left: auto;
right: 17.5%;
font-size: 35px;
}
.card-subtitulo {

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 400;
color: rgb(243, 239, 12);
display: block;
position: relative;
margin: 0 auto;
top: 30px;
left: auto;
right: 9.5%;
font-weight: bold; 
}
.card-title-buscar{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    font-size: 20px;
    color: antiquewhite;
    display: block;
    position: relative;
    margin: 0 auto;
    top: 70px;
    left: 0 auto;
    right: 283px;

}
.card-input-buscador-pokemon{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 350px;
    height: 40px;
    top: 100px;
    left: 0 auto;
    right: 159px;
    background: rgba(71, 71, 70, 0.582);
    border-radius: 15px;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-weight: bold;
    font-size: 14px;
    border-color: rgb(243, 239, 12);
    border-style:double;
    outline-color: rgb(11, 199, 224);


}
.card-input-buscador-pokemon::placeholder {
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-weight: bold;
    font-size: 14px;
}
.card-title-tipo-de-busqueda{

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    font-size: 20px;
    color: antiquewhite;
    display: block;
    position:static;
    margin: 0 auto;
    margin-left: 47%;
    margin-right: auto;
    
}
.card-button-buscar {
    display: block;
    position:static;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-weight: bold;
    font-size: 20px;
    margin-top: -10%;
    margin-left: auto;
    margin-right: 47%;
    border-radius: 10px;
    background-color:rgb(16, 202, 72);
    color: antiquewhite;
    border-color: rgb(12, 243, 62);
    line-height: 30px;

}

.card-button-reset {
    display: block;
    position:static;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-weight: bold;
    font-size: 20px;
    margin-top: -4.5%;
    margin-right: auto;
    margin-left: 8%;
    border-radius: 10px;
    background-color:#da1010;
    color: antiquewhite;
    border-color: rgb(243, 77, 12);
    line-height: 30px;
    
}

.card-button-buscar:hover {
    transition: 0.7s;
    background-color:rgb(243, 239, 12);
    color: rgba(43, 41, 41, 0.774);
    border-color: rgb(11, 193, 199);
}
.card-button-reset:hover {
    transition: 0.7s;
    background-color:rgb(243, 239, 12);
    color: rgba(43, 41, 41, 0.774);
    border-color: rgb(11, 177, 199);
}


input[type="checkbox"] {
    position: relative;
    width: 80px;
    height: 30px;
    background: rgba(71, 71, 70, 0.582);
    -webkit-appearance: none;
    border-radius: 20px;
    outline: none;
    transition: .4s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  input:checked[type="checkbox"] {
    background: rgba(0, 153, 255, 0.705);
  }

  input[type="checkbox"]::before {
    z-index: 2;
    position: absolute;
    content: "";
    left: 0;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(27, 9, 9, 0.2);
    transition: .4s;
  }

  input:checked[type="checkbox"]::before {
    left: 50px;
  }

  .toggle1 {

    display: block;
    position:static;
    margin: 0 auto;
    margin-top: 31px;
    margin-left: 350px;

  }
  .toggle2 {

    display: block;
    position:static;
    margin: 0 auto;
    margin-top: -5px;
 margin-left: 460px;
  }
  .toggle3 {

    display: block;
    position:static;
    margin: 0 auto;
    margin-top: 5px;
    margin-left: 485px;
  }


  .onbtn {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    bottom: 15px;
    left:auto;
    right: 80px;
    top: -10px;
    color: antiquewhite;
  }
  
  .ofbtn {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    bottom: 9px;
    right: auto;
    left: -60px;
    color: antiquewhite;
  }
 .card-checkbox-font1{
    display: block;
    position:static;
    margin: 0 auto;
    margin-bottom:auto;
    margin-left: 120px;
    margin-top: -30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    font-size: 20px;
    color: antiquewhite;


 }
 .card-checkbox-font2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    font-size: 20px;
    color: antiquewhite;
    position: relative;

    top:-5px;
    right: 50px;

 }
 .card-checkbox-font3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-weight: bold;
    font-size: 20px;
    color: antiquewhite;
    position: relative;
    top:-5px;
    right: 50px

 }




.card2 {
    display: block;
    margin:  0 auto;
    margin-top: 200px;
    margin-block-end: 100px;
    width: 1000px;
    height: 2100px;
    text-align: center;
    padding: 20px 0;
    background: #3982bdaf;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(158, 240, 7, 0.705);
}
.card2-pokemon-img-container{
    position: static;
    display: block;
    margin: 0 auto;
    margin-left: 400px;
    margin-top: -280px;
    width: 200px;
    height: auto;
}

.card2-img-poke-bola1{
    position: relative;
    display: block;
    margin: auto;
    top: -10px;
    left: auto;
    right: 475px;
    width: 35px;
}
.card2-img-poke-bola2{
    position: relative;
    display: block;
    margin: auto;
    top: -45px;
    left: 475px;
    right: auto;
    width: 35px;
}
.card2-img-poke-bola3{
    position: relative;
    display: block;
    margin: auto;
    top: 2007px;
    left: auto;
    right: 475px;
    width: 35px;
}
.card2-img-poke-bola4{
    position: relative;
    display: block;
    margin: auto;
    top: 1975px;
    left: 475px;
    right: auto;
    width: 35px;
}





.card2-pokemon-name-id{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-weight: bold;
    font-size: 55px;
    color: antiquewhite;
}
.card2-pokemon-name-id-move{
    display: block;
    position:static;
    margin: 0 auto;
    margin-bottom:auto;
    margin-left:auto;
    margin-right: 450px;
    margin-top: -10%;
}

.card2-generales-del-pokemon{

    display: block;
    margin:  0 auto;
    margin-top: auto;
    width: 800px;
    height: 40px;
    text-align: center;
    padding: 20px 0;
    background: #197cb6d3;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(158, 240, 7, 0.705);
}
.card2-title-generales-del-pokemon{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-weight: bold;
    font-size: 45px;
    color: antiquewhite;
}
.card2-title-generales-del-pokemon-move{
    display: block;
    position:static;
    margin: 0 auto;
    margin-bottom:auto;
    margin-left:auto;
    margin-top:-45px;

}
.card2-contenedor1{

    display: block;
    margin:  0 auto;
    margin-top: 20px;
    width: 790px;
    height: 300px;
    text-align: center;
    padding: 20px 0;
    background: rgba(71, 71, 70, 0.582);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(118, 119, 117, 0.705);

}









.card2-sprites-del-pokemon{

    display: block;
    margin:  0 auto;
    margin-top: 30px;
    width: 800px;
    height: 40px;
    text-align: center;
    padding: 20px 0;
    background: #197cb6d3;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(158, 240, 7, 0.705);
}
.card2-title-sprites-del-pokemon{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-weight: bold;
    font-size: 45px;
    color: antiquewhite;
}
.card2-title-sprites-del-pokemon-move{
    display: block;
    position:static;
    margin: 0 auto;
    margin-bottom:auto;
    margin-left:auto;
    margin-top:-45px;

}
.card2-contenedor2{

    display: block;
    margin:  0 auto;
    margin-top: 20px;
    width: 790px;
    height: 300px;
    text-align: center;
    padding: 20px 0;
    background: rgba(71, 71, 70, 0.582);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(118, 119, 117, 0.705);

}






.card2-ubicacion-del-pokemon{

    display: block;
    margin:  0 auto;
    margin-top: 30px;
    width: 800px;
    height: 40px;
    text-align: center;
    padding: 20px 0;
    background: #197cb6d3;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(158, 240, 7, 0.705);
}
.card2-title-ubicacion-del-pokemon{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-weight: bold;
    font-size: 45px;
    color: antiquewhite;
}
.card2-title-ubicacion-del-pokemon-move{
    display: block;
    position:static;
    margin: 0 auto;
    margin-bottom:auto;
    margin-left:auto;
    margin-top:-45px;

}
.card2-contenedor3{

    display: block;
    margin:  0 auto;
    margin-top: 20px;
    width: 790px;
    height: 300px;
    text-align: center;
    padding: 20px 0;
    background: rgba(71, 71, 70, 0.582);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(118, 119, 117, 0.705);

}




.card2-evoluciones-del-pokemon{

    display: block;
    margin:  0 auto;
    margin-top: 30px;
    width: 800px;
    height: 40px;
    text-align: center;
    padding: 20px 0;
    background: #197cb6d3;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(158, 240, 7, 0.705);
}
.card2-title-evoluciones-del-pokemon{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-weight: bold;
    font-size: 45px;
    color: antiquewhite;
}
.card2-title-evoluciones-del-pokemon-move{
    display: block;
    position:static;
    margin: 0 auto;
    margin-bottom:auto;
    margin-left:auto;
    margin-top:-45px;

}
.card2-contenedor4{

    display: block;
    margin:  0 auto;
    margin-top: 20px;
    width: 790px;
    height: 300px;
    text-align: center;
    padding: 20px 0;
    background: rgba(71, 71, 70, 0.582);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(118, 119, 117, 0.705);

}

.card2-title-abilities{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: antiquewhite;

}

.card2-title-abilities-move{

    display: block;
    position:static;
    margin: 0 auto;
    margin-bottom:auto;
    margin-right: 500px;
    margin: left 0 auto;
    margin-top:auto;
}

.card2-list-abilities{

    margin: 50px;
    padding: 1px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: antiquewhite;
    margin-top: -5px;
    
}

.card2-title-weight-heigth-move{
    display: block;
    position:static;
    margin: 0 auto;
    margin-right: auto;
    margin-left: 400px;
    margin-top:-180px;
}
.card2-title-weight-heigth {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: antiquewhite
}

.card2-span1{

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: antiquewhite
}
.card2-pokemon-front-title{

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: antiquewhite

}
.card2-pokemon-back-title{

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: antiquewhite

}

.card2-pokemon-front-move{

    display: block;
    position:static;
    margin: 0 auto;
    margin-bottom:auto;
    margin-right: 500px;
    margin: left 0 auto;
    margin-top:auto;

}

.card2-pokemon-back-move{

    display: block;
    position:static;
    margin: 0 auto;
    margin-bottom:auto;
    margin-right:auto;
    margin-left: 500px;
    margin-top: -255px;

}

.card2-img-front-select{

    position: relative;
    display: block;
    margin: 0 auto;
    margin-left: auto;
    margin-top: -40px;
    width: 200px;
    height: auto


}

.card2-img-back-select{

    position: relative;
    display: block;
    margin: 0 auto;
    margin-left: auto;
    margin-top: -40px;
    width: 200px;
    height: auto


}

.card2-title-poke-evolutions{

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    color: antiquewhite

}

.card2-title-poke-evolutions-ul{
    
    display: block;
    position:static;
    margin: 0 auto;
    margin-bottom:auto;
    margin-right: 700px;
    margin-left: 180px;
    margin-top:auto;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: antiquewhite
}
  
table {
    border-collapse: collapse;
    width: 90%;
    
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: rgba(18, 19, 17, 0.685);
    margin-left: 40px;
  }
  
  th, td {
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(even){background-color: #ffffff}

  
  th {

    background-color: #c9c61d;
    color: rgb(15, 15, 15);
  }


